<div class="navbar-end">
  <div class="navbar-item">
    <p class="name">{{ account.name }}</p>
  </div>
  <div class="navbar-item has-dropdown is-hoverable">
    <div class="navbar-link">
    </div>

    <div class="navbar-dropdown is-right">
      <div class="navbar-item">
        <a href="#">My Pastes</a>
      </div>

      <div class="navbar-item">
        <a href="#">Settings</a>
      </div>

      <div class="navbar-item">
        <a onclick="logout()">Log Out</a>
      </div>
    </div>
  </div>
</div>