<div class="navbar-end">
  <div class="navbar-item">
    <a href="/user/{{ account.name }}/">
      <img src="/api/internal/user/avatar/?user={{ account.name }}" width="28" height="28">
    </a>
  </div>
  <div class="navbar-item">
    <a class="name" style="text-decoration:none;color:white;">{{ account.Name }}</a>
  </div>
  <div class="navbar-item has-dropdown is-hoverable">
    <div class="navbar-link">
    </div>

    <div class="navbar-dropdown is-right">
      <div class="navbar-item">
        <a class="button" href="/user/{{ account.name }}/">My Pastes</a>
      </div>

      <div class="navbar-item">
        <a class="button" href="/settings/">Settings</a>
      </div>

      <div class="navbar-item">
        <a class="button" onclick="logout()">Log Out</a>
      </div>
    </div>
  </div>
</div>