<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Sky Paste</title>
    <link rel="stylesheet" href="/css/vendored/bulma.css">
    <link rel="stylesheet" href="/css/paste.css">
    <script src="/scripts/common.js" async></script>
    <script src="/scripts/highlight.js" async></script>
    <script src="/scripts/vendored/shiki.js" async></script>
    <script src="/scripts/vendored/iconify.min.js" async></script>
  </head>
  <body>
    {{ navbar | safe }}
    {% if not mobile %}
    <div class="columns" style="margin:5px;">
      <div class="column is-1"></div>
      <div class="column is-7">
      {% endif %}
        <div class="box">
          <div class="level" style="margin-bottom:0px;">
            <div class="level-left">
              <div class="level-item">
                <img src="/api/internal/user/avatar/?user={{ user.name }}">
              </div>
              <div class="level-item">
                <div style="flex-direction: column;">
                  <h1 class="title">{{ user.name }}'s pastes</h1>
                  <div>
                    <iconify-icon icon="mdi:calendar-outline" width="24" height="24" title="When the user joined" style="float:left;"></iconify-icon>
                    <p title="{{ user.relative_join }}" style="padding-left: 3px;">{{ user.join }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% if folder_name %}
          <div class="box">
            <a href=".."><iconify-icon icon="mdi:arrow-up-left" width="48" height="48" style="float:left;"></iconify-icon></a>
            <h1 class="title is-2">{{ folder_name }}</h1>
          </div>
        {% endif %}
        <div class="box">
          {% if pastes %}
            {% if folders %}
              {% for folder in folders %}
                <div class="box">
                  <div class="level">
                    <div class="level-left">
                      <iconify-icon icon="mdi:folder-outline"></iconify-icon>
                      <a href="{{ folder }}/" style="padding-left:5px;">{{ folder }}</a>
                    </div>
                  </div>
                </div>
              {% endfor %}
            {% endif %}
            {% for paste in pastes %}
              <div class="box">
                <div class="level">
                  <div class="level-left">
                    <div class="level-item">
                      <iconify-icon icon="{{ paste.visibility_icon }}" title="{{ paste.visibility_title }}"></iconify-icon>
                      <a href="/{{ paste.id }}" style="padding-left:5px;">{{ paste.title }}</a>
                    </div>
                  </div>
                  <div class="level-right">
                    <div class="level-item">
                      <div class="tags">
                        <span class="tag" title="{{ paste.relative_time }}">{{ paste.real_time }}</span>
                        <span class="tag">{{ paste.Syntax }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% else %}
            <h1 class="title is-3">This user has no pastes.</h1>
          {% endif %}
        </div>
      {% if not mobile %}
      </div>
      <div class="column is-1"></div>
      <div class="column is-3">
      {% endif %}
        {{ paste_sidebar | safe }}
      {% if not mobile %}
      </div>
    </div>
    {% endif %}
    {{ footer | safe }}
  </body>
</html>