<!DOCTYPE html>
<html>
  <head>
    <title>Sky Paste</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/paste.css">
    <script src="/scripts/common.js" async></script>
  </head>
  <body>
    {{ navbar | safe }}
    <!--Do the "latest pastes" section-->
    <div class="sidebar">
      {% if self_pastes %}
        <p class="header">My Pastes</p>
        {% for paste in self_pastes %}
          <div class="paste">
            <a class="title" href="/{{ paste.id }}">{{ paste.name }}</a>
            <hr>
            <p class="info">{{ paste.date }} | {{ paste.size }}</p>
          </div>
        {% endfor %}
      {% endif %}
      <p class="header">Public Pastes</p>
      {% for paste in public_pastes %}
        <div class="paste">
          <a class="title" href="/{{ paste.id }}">{{ paste.name }}</a>
          <hr>
          <p class="info">{{ paste.date }} | {{ paste.size }}</p>
        </div>
      {% endfor %}
    </div>

    {{ paste | safe }}

  </body>
</html>