<!-- This is for http://example.com/abcdefgh id -->

<!DOCTYPE html>
<html>
  <head>
    <title>Sky Paste</title>
    <link rel="stylesheet" href="/css/bulma.css">
    <link rel="stylesheet" href="/css/paste.css">
    <script src="/scripts/common.js" async></script>
    <script src="/scripts/highlight.js" async></script>
    <script src="/scripts/paste.js" async></script>
    <script src="https://cdn.jsdelivr.net/npm/shiki@0.14.1/dist/index.jsdelivr.iife.min.js" async></script>
  </head>
  <body>
    {{ navbar | safe }}
    <div class="columns" style="margin:5px;">
      <div class="column is-1"></div>
      <div class="column is-7">
        {{ paste }}
      </div>
      <div class="column is-1"></div>
      <div class="column is-3">
        {{ paste_sidebar | safe }}
      </div>
    </div>
  </body>
</html>