<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Sky Paste</title>
    <link rel="stylesheet" href="/css/vendored/bulma.css">
    <link rel="stylesheet" href="/css/vendored/fontawesome.css">
    <script src="/scripts/common.js" async></script>
    <script src="/scripts/login.js" async></script>
    <script src="/scripts/highlight.js" async></script>
    <script src="/scripts/vendored/shiki.js" async></script>
    <script src="/scripts/vendored/iconify.min.js" async></script>
    <div 
      username-min-length={{ config.USERNAME_MIN_LENGTH }}
      username-max-length={{ config.USERNAME_MAX_LENGTH }}
      id="username_data">
    </div>
  </head>
  <body>
    {{ navbar | safe }}
    {% if not mobile %}
    <div class="columns" style="margin:5px;">
      <div class="column is-3"></div>
      <div class="column is-3">
      {% endif %}
        <div class="box">
          <h1 class="title" style="text-align: center;">Log In</h1>

          <div class="field">
            <label class="label">Username</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input" type="text" placeholder="Enter a username" id="login_username_text">
              <span class="icon is-small is-left">
                <iconify-icon icon="mdi:account"></iconify-icon>
              </span>
              <span class="icon is-small is-right">
                <iconify-icon icon="ph:x" style="color:red" id="login_username_check"></iconify-icon>
              </span>
            </div>
          </div>

          <div class="field" style="display:block;" id="login_username_warn">
            <span class="icon is-small" style="float:left; padding-top: 6px;">
              <iconify-icon icon="ph:x" style="color:red"></iconify-icon>
            </span>
            <p id="login_username_warn_reason">Username is too short, minimum {{ config.USERNAME_MIN_LENGTH }}!</p>
          </div>

          <div class="field">
            <label class="label">Password</label>
            <div class="control has-icons-left">
              <input class="input" type="password" placeholder="Enter a password" id="login_password_text">
              <span class="icon is-small is-left">
                <iconify-icon icon="mdi:lock"></iconify-icon>
              </span>
            </div>
          </div>

          <div class="field" style="margin:5px 35%; width:30%; scale:1.25;">
            <label class="checkbox">
              <input type="checkbox" id="login_remember_me">
              Remember Me
            </label>
          </div>

          <div class="field" style="margin:5px 35%; width:30%">
            <div class="control">
              <button class="button is-link" id="login_button" style="width:100%" onclick="login()">Log In</button>
            </div>
          </div>

        </div>
      {% if not mobile %}
      </div>
      <div class="column is-3"></div>
      <div class="column is-3">
      {% endif %}
        {{ paste_sidebar | safe }}
      {% if not mobile %}
      </div>
    </div>
    {% endif %}
    {{ footer | safe }}
  </body>
</html>