<!DOCTYPE html>
<html>
  <head>
    <title>Sky Paste</title>
    <link rel="stylesheet" href="/css/vendored/bulma.css">
    <script src="/scripts/common.js" async></script>
    <script src="/scripts/signup.js" async></script>
    <script src="/scripts/highlight.js" async></script>
    <script src="/scripts/vendored/shiki.js" async></script>
    <script src="https://kit.fontawesome.com/e37f1fa619.js" async crossorigin="anonymous"></script>
    <div 
      username-min-length={{ config.USERNAME_MIN_LENGTH }}
      username-max-length={{ config.USERNAME_MAX_LENGTH }}
      password-min-length={{ config.PASSWORD_MIN_LENGTH }}
      password-max-length={{ config.PASSWORD_MAX_LENGTH }}
      id="username_data">
    </div>
  </head>
  <body>
    {{ navbar | safe }}

    <div class="columns" style="margin:5px;">
      <div class="column is-3"></div>
      <div class="column is-3">
        <div class="box">
          <h1 class="title" style="text-align: center;">Sign Up</h1>

          <div class="field">
            <label class="label">Username</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input" type="text" placeholder="Enter a username" id="signup_username_text">
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-x" style="color:red" id="signup_username_check"></i>
              </span>
            </div>
          </div>

          <div class="field" style="display:block;" id="signup_username_warn">
            <span class="icon is-small" style="float:left; padding-top: 6px;">
              <i class="fas fa-x" style="color: red"></i>
            </span>
            <p id="signup_username_warn_reason">Username is too short, minimum {{ config.USERNAME_MIN_LENGTH }}!</p>
          </div>

          <div class="field">
            <label class="label">E-Mail</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input" type="email" placeholder="someone@something.com" id="signup_email_text">
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-x" style="color:red" id="signup_email_check"></i>
              </span>
            </div>
          </div>

          <div class="field" style="display:block;" id="signup_email_warn">
            <span class="icon is-small" style="float:left; padding-top: 6px;">
              <i class="fas fa-x" style="color: red"></i>
            </span>
            <p id="signup_email_warn_reason">Invalid E-Mail!</p>
          </div>

          <div class="field">
            <label class="label">Password</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input" type="password" placeholder="Enter a password" id="signup_password_text">
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-x" style="color:red" id="signup_password_check"></i>
              </span>
            </div>
          </div>

          <div class="field" style="display:block;" id="signup_password_warn">
            <span class="icon is-small" style="float:left; padding-top: 6px;">
              <i class="fas fa-x" style="color: red"></i>
            </span>
            <p id="signup_password_warn_reason">Password is too short, minimum {{ config.PASSWORD_MIN_LENGTH }}!</p>
          </div>

          <div class="field" style="margin:5px 35%; width:30%; scale:1.25;">
            <label class="checkbox">
              <input type="checkbox" id="signup_remember_me">
              Remember Me
            </label>
          </div>

          <div class="field" style="margin:5px 35%; width:30%">
            <div class="control">
              <button class="button is-link" id="signup_button" style="width:100%" onclick="signup()">Sign Up</button>
            </div>
          </div>

        </div>
      </div>
      <div class="column is-3"></div>
      <div class="column is-3">
        {{ paste_sidebar | safe }}
      </div>
    </div>

  </body>
</html>