<div class="box edit-paste">
  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <h1 class="title">Edit Paste</h1>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
        <div class="field">
          <input id="syntax-switch" type="checkbox" class="switch is-rounded is-success is-outlined">
          <label for="syntax-switch" style="user-select: none;" title="Syntax highlighting is weird, the text might be wonky">Syntax Highlighting</label>
        </div>
      </div>
    </div>
  </div>
  <div class="box">
    <div style="position: relative;">
      <div id="paste-output" class="box"></div>
      <textarea class="paste-textarea textarea" id="paste_edit_textarea" spellcheck="false">{{ paste.text }}</textarea>
    </div>
    <hr>
    <h1 class="title is-4">Paste Options</h1>
    <div style="width:40%;">
      <div class="field">
        <label class="label">Paste Title</label>
        <div class="control">
          <input class="input" type="text" id="paste_title_input" placeholder="Untitled" value="{{ paste.title }}">
        </div>
      </div>
      <div class="field">
        <label class="label">Tags</label>
        <input class="tagsinput input field" data-tag-class="" data-selectable="false" type="tags" placeholder="Add Tag" {% if paste.tags %} value="{{ paste.tags }}" {% endif %}>
      </div>
      <div class="field">
        <div>
          <label class="label">Paste Exposure</label>
          <div class="control">
            <div class="select">
              <select id="paste_visibility_select">
                <!-- Yes I know this is horrifying. -->
                <option {% if paste.visibility == 1 %} selected {% endif %}>Public</option>
                <option {% if paste.visibility == 2 %} selected {% endif %}>Unlisted</option>
                {% if authorized %}
                  <option {% if paste.visibility == 3 %} selected {% endif %}>Private</option>
                {% endif %}
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="field">
        <label class="label">Syntax Highlighting</label>
        <div class="dropdown" id="synselect-full-dropdown">
          <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" onclick="show_dropdown();" aria-controls="synselect-dropdown-menu">
              <span id="synselect-selected-language-span">{{ paste.Syntax }}</span>
              <span class="icon is-small">
                <iconify-icon icon="mdi:chevron-down"></iconify-icon>
              </span>
            </button>
          </div>
          <div class="dropdown-menu" id="synselect-dropdown-menu" role="menu">
            <div class="dropdown-content" id="synselect-dropdown-content">
              <div>
                <input class="input" type="text" id="synselect-dropdown-lang-search" placeholder="Language">
              </div>
              <hr class="dropdown-divider">
              <div id="synselect-dropdown-languages" data-preselect="{{ paste.syntax }}">

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <button class="button is-primary" onclick="edit_paste(this, '{{ paste.id }}')">Edit Paste</button>
        </div>
      </div>
    </div>
  </div>
</div>