<!-- The box for the side bar -->
<div class="box">
  <div>
    <!-- Title Bar -->
    <a href="/{{ id }}">
      <h1 class="title is-5" style="margin-bottom:3px;">{{ name }} | {{ date }} | </h1>
      <hr style="margin-top: 0px; margin-bottom:3px;">
      <div class="tags" style="margin-bottom: 0px;">
        <span class="tag">{{ size }}</span>
        <span class="tag">{{ syntax }}</span>
      </div>
    </a>
  </div>
  <hr style="margin-top: 0px; margin-bottom:0px;">
  <p class="highlight-me lang-{{ syntax }}" style="margin-top:0px; overflow-x: hidden;">{{ content }}</p>
</div>