<footer class="footer py-2" style="height:fit-content">
  <div class="columns">
    <div class="column is-narrow">
      <div class="box" style="display:flex;flex-direction:column;width:fit-content">
        <p>Legal</p>
        <a href="/tos">Terms of Service</a>
        <a href="/privacy">Privacy Policy</a>
      </div>
    </div>
    <div class="column is-narrow">
      <div class="box" style="display:flex;flex-direction:column;width:fit-content">
        <p>Open Source</p>
        <a href="https://github.com/SkyTheCodeMaster/paste">GitHub</a>
      </div>
    </div>
    <div class="column"></div>
  </div>
</footer>