.paste_edit_div div.paste_box {
  border: 3px solid #04aa6d;
  border-radius: 3px;
  width: 80%;
  margin: 5px;
  min-height: 250px;
  overflow-y: scroll;
  overflow-x:hidden;
}

.paste_edit_div div.paste_box textarea {
  width:100%;
  height:fit-content;
  min-height: 300px;
  display: block;
  margin: 0px;
  resize: none;
  font-family:monospace;
}