input[type=text], input[type=password] {
  width: 80%;
  padding: 6px;
  margin: 5px auto;
  display: inline-block;
  border: 3px solid #04aa6d;
  border-radius: 3px;
  box-sizing: border-box;
}

.account_login {
  width: 40%;
  border: 5px solid #04aa6d;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  display: grid;
}

.account_login h1 {
  text-align: center;
  padding: 0px;
}

.account_login label {
  margin: 5px auto;
}

.account_login a.loginbtn {
  border-color: #08cc6f;
  border-radius: 5px;
  border-style:solid;
  background-color:#04aa6d;
  width: 50%;
  margin: auto;
  cursor: pointer;
  display:inline-block;
  text-align: center;
  color: #fff;
  user-select: none;
}

.account_login div.div_remember_me {
  margin: auto;
}

.account_login p.bad_input {
  color: red;
  position: relative;
  font-size: 10px;
  display: none;
  margin: 5px auto;
}

.account_login a.loginbtn:not(.account_login a.disabled):hover {
  background-color: #06bb6f;
  cursor: pointer;
}

.account_login a.disabled {
  border-color: #888;
  border-radius: 5px;
  border-style:solid;
  background-color:#777;
  width: 50%;
  margin: auto;
  cursor: not-allowed;
  display:inline-block;
  text-align: center;
  color: #fff;
  user-select: none;
}