/* This adds line numbers to pastes */

.main-paste-code {
  margin:0;
  padding:0;
  border-radius:0px;
}

.main-paste-code pre {
  padding:0;
}

.main-paste-code code {
  counter-reset: step;
  width: 100%;
  counter-increment: step 0;
}

.mainpaste-code code .line {
  width: 100%;
}

.main-paste-code .focus {
  background-color: hsl(60, 100%, 83.33%);
  width: 100%;
  display: inline-block;
}

.main-paste-code .line-numbers {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  width: fit-content;
  text-align: right;
  text-decoration: none;
  line-height: 21px;
  /* https://bulma.io/documentation/helpers/color-helpers */
  color: hsl(0, 0%, 48%); /* has-text-grey */
  background-color: hsl(0, 0%, 71%); /* has-background-grey-light */ 
}

.main-paste-code .line-numbers a {
  color: hsl(0, 0%, 48%); /* has-text-grey */
}

.paste-textarea {
  height: auto;
  resize: none;
  overflow: hidden;
  min-height: 300px;
  max-height: none;
  position: absolute;
  top:0;
  color: black; 
  background-color: transparent;
  caret-color: black;
  font: 20px "monospace", sans-serif;
}

#paste-output {
  min-height: 160px; 
  padding-top:15px; 
  padding-left: 15px;
  font: 20px "monospace", sans-serif;
}

#paste-output .shiki {
  padding-top:  0px; 
  padding-left: 0px;
  font: 20px "monospace", sans-serif;
}

#paste-output .shiki code .line {
  padding-top:  0px; 
  padding-left: 0px;
  font: 20px "monospace", sans-serif;
}

.highlight-me {
  white-space: pre-wrap;
}

#paste-output {
  white-space: pre-wrap;
}

#synselect-dropdown-content {
  height: 300px;
  overflow-y: scroll;
}